
body {
<<<<<<< HEAD
    background-image: url(https://www.meme-arsenal.com/memes/9f7a3b4350b4b54d874184b57b4b929d.jpg);
}

h1 {
   color: beige; 
=======
    background-color: azure;
}

h1 {
   color: black; 
>>>>>>> dev
}

